body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    color: red;
    text-shadow: 2px 2px black;
}

h2{
    text-align: center;    
}

h3{
    background-color: rgb(209, 163, 104);
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 6px;
}

p{
    margin-left: 28%;
    font-size: 23px;
}

.btn{
    width: 34px;
}

input{
    height: 20px;
    width: 350px;
    font-size: 17px;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;
}

#one{
    width: 128px;
    height: 30px;
    background-color: rgb(209, 163, 104);
    margin-left: 41%;
    box-shadow: 3px 3px 3px #614d4d;
}

#two{
    width: 128px;
    height: 30px;
    background-color: rgb(209, 163, 104);
    box-shadow: 3px 3px 3px #614d4d;
}

#one:hover{
    transform: scale(1.04);
}

#two:hover{
    transform: scale(1.04);
}

.box{
    box-shadow: 3px 3px 3px #614d4d;
}
