body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    color: red;
    text-shadow: 2px 2px black;
}

h2{
   text-align: center;
   background-color: rgb(209, 163, 104);
   border-radius: 6px;
}

table{
   font-size: 20px;
   width: 90%;
}

th{
   background-color: red;
}

b{
    margin-left: 10px;
}

p{
   text-align: center;
}

.one{
background-color: rgb(230 230 230);
}